:root {
  --text: #fff;

  --page-bg: #0d1117;
  --header-bg: #161b22;
  --main-content-bg: #1e1e1e;
  --section-bg: #262626;
  --popover-bg: #373737;
  --highlight-bg: #000;
  --input-bg: #666;
  --color-border-default: #30363d;
  --link: #58a6ff;
}

/* Wood color overwrite */
html,
.head_info,
.bgabutton_gray {
  background: var(--page-bg);
  color: var(--text);
}

a {
  color: var(--link) !important;
}

.row {
  max-width: 100%;
  padding: 0 1rem;
}

/* Main content blocks */
#topbar,
#page-title,
.pageheader,
.roundedbox,
.pagesection__content,
.gamestate_gameEnd #page-title,
#server_status_warning_message,
.chatwindowlogs,
.chatwindowexpanded,
.notouch-device .chatwindowcollapsed:hover,
#maintitlebar_content,
.gamestart_overlay,
.bgabutton_gray:hover {
  background: var(--main-content-bg);
  color: var(--text);
}

/* Header & nav */
.bga-menu-bar,
.bga-menu-subbar {
  background: var(--header-bg) !important;
  color: var(--text) !important;
}

/* Dialog boxes, modals etc. */
.pagesection,
.portlet,
.tips,
.player-board,
#ingame_menu_content,
#popin_eventDlg,
#friend-menu,
#login-menu,
.standard_popin,
.comment,
.chatwindowlogs_zone .roundedbox.chatlog.ownchatlog .roundedboxinner,
.notouch-device #topbar a.menu_item:hover,
#topbar a.navigation-button-active,
#pageheader_mobile_switcher_gamemode,
#pageheader_mobile_switcher,
#pageheader_mobile_switcher_lobbymode,
#pageheader_simple,
#pageheader_arena,
#pageheader_tournament,
#pageheader_realtime,
#pageheader_async,
#pageheader_friends,
#pageheader_automatic,
#pageheader_manual,
.chatwindowavatar .avatarwrap {
  background-color: var(--popover-bg);
  color: var(--text);
  border: 1px solid var(--color-border-default);

  /* fix for overlay image comment section*/
  background-image: none; 
}

/* Page sections */
.gametable,
.pagesection h2,
.pagesection h3,
.portlet h2,
.portlet h3,
.notouch-device .gamelist_item:hover,
.chatwindowcollapsed,
.chatwindowlogs_zone .roundedbox.chatlog .roundedboxinner,
#switcher_zone,
#switcher_zone_gamemode,
#switcher_zone_lobbymode {
  background: var(--section-bg);
  color: var(--text);
}

.pagesection h3 a {
  color: var(--text);
  text-decoration: underline;
}

.bgabutton_gray,
a.bgabutton_gray {
  color: var(--text);
  border-color: var(--text);
}

.newbgatable th,
.newbgatable td,
#topbar #login-menu a,
#topbar a,
.chatwindowcollapsedtitle,
a.agenda-tournament-list__item,
a.agenda-tournament-list__item:hover,
.agenda-tournament-list__players-num,
.agenda-tournament-list__title,
.controlpanelmenu .panelmenuicon {
  color: var(--text);
}

.notouch-device .newbgatable tbody tr:hover td {
  color: #4871b6;
}

.wannaplayauto_button {
  box-shadow: none;
}

/* Most dropdown boxes and text should be dark */
.tundra .dijitInputField,
.tundra .dijitMenu,
.tundra .dijitMenuBa,
textarea {
  background: var(--input-bg);
  color: var(--text);
}

/* Highlighted areas */
.pageheader_menu_verylarge .pageheader_big_switch,
.pageheader_menu_verylarge
  .pageheader_big_switch_dropdown
  .pageheader_menuitem.pageheader_menuitemselected,
.bg-white {
  background-color: var(--highlight-bg);
}

.notouch-device .pageheader_menu_verylarge .pageheader_big_switch:hover,
.pageheader_menu_verylarge .dropdown_expanded .pageheader_big_switch,
.pageheader_menu_verylarge
  .pageheader_big_switch_dropdown
  .pageheader_menuitem {
  background-color: #333;
}

.whiteblock {
  background: #1e1e1e;
}

/* Overlay over gamebox while loading */
#loader_mask {
  background: #000;
}

/* Background of progress bar */
[class^="roundedbox"] {
  background: #1e1e1e !important;
}

/* === GAME SPECIFIC STUFF === */

/* == STONE AGE == */

/* Tooltip color (Stoneage) */
.dijitTooltipContainer {
  background: var(--popover-bg) !important;
  color: var(--text);
}

/* Overlay for dice related actions (Stoneage) */
#diceboard {
  background: #000000;
}
