/* Wood color overwrite */
html {
background:#121212;
color:#fff;
}

.row {
max-width:100%;
padding:0 1rem;
}

/* Main content blocks */
#topbar,#page-title,.pageheader,.roundedbox,.gamestate_gameEnd #page-title,#server_status_warning_message,.chatwindowlogs,.chatwindowexpanded,.notouch-device .chatwindowcollapsed:hover,#maintitlebar_content, .gamestart_overlay {
background:#1e1e1e;
color:#fff;
}

/* Dialog boxes, modals etc. */
.pagesection,.portlet,.tips,.player-board,#ingame_menu_content,#popin_eventDlg, #friend-menu, #login-menu, .standard_popin, .comment {
background:#373737;
background-color:#373737;
color:#fff;
}

/* Headers */
.gametable,.pagesection h2,.pagesection h3,.portlet h2,.portlet h3,.notouch-device .gamelist_item:hover,.chatwindowcollapsed,.chatwindowlogs_zone .roundedbox.chatlog .roundedboxinner {
background:#262626;
color:#fff;
}

.pagesection h3 a {
color:#fff;
text-decoration:underline;
}

.bgabutton_gray,a.bgabutton_gray {
color:#fff;
border-color:#fff;
}

.notouch-device #topbar a.menu_item:hover,#topbar a.navigation-button-active {
color:#FFF;
background:#373737;
}

/* Specific text color fixes */
.newbgatable th, .newbgatable td, #topbar #login-menu a, #topbar a,.chatwindowcollapsedtitle {
  color: #fff;
}

.notouch-device .newbgatable tbody tr:hover td {
  color: #4871b6;
}
